body {

}
div.menu_bar {
    border-style:solid;
    border-width:1px;
    position:fixed;
    top: 11%;
    bottom:4%;
    width:10%;
    height:auto;
}
div.content {
    position: fixed;
    top: 11%;
    left: 15%;
}
div.content_scroll {
    position: fixed;
    overflow-y:scroll;
    top: 20%;
    bottom:8%;
    width: auto;
    height:auto;
    left: 15%;
}
div.title_bar1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    top: 0px;
    text-align: left;
    height: 9%;
    width: 100%;
}
div.title_bar2 {
    left:5%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    top: 0px;
    text-align: left;
    height: 9%;
    width: 100%;
}
table.menu_bar {

}
